
/* Your CSS Code here. */
container div{
	width:200px;
	background: purple;
    border-left-color: green;
    border-left-width: 5px;
   
}
div{
	padding:10px;
	font-size:20px;
}

#heading{
	color:white;
}




